node_modules
build
.env
.env.*
.git
.github
tests
README.md
ARCHITECTURE.md
swagger.yaml
# Docker files (should not be ignored during build stage if using them as part of build)
# Dockerfile
# .dockerignore
npm-debug.log
error.log
# package-lock.json
